*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
main{
    min-height:100vh;
    background-color:brown;
    background-image:url(train.jpg);
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items:center;
}
section{
    background-color: white;
    border-radius:5px;
    padding:4rem;
}